<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>20/09/23 10:34:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderHistory.binvokebrowser(java.lang.String)[pri:0, instance:Tips.OrderHistory@39aeed2f]">binvokebrowser</td> 
  <td>TestNG@845796796</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>20/09/23 10:34:42</td>   <td>39030</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderHistory.corderhistory(java.lang.String)[pri:0, instance:Tips.OrderHistory@39aeed2f]">corderhistory</td> 
  <td>TestNG@845796796</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>20/09/23 10:35:13</td>   <td>70002</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="OrderHistory.dclosebrowser()[pri:0, instance:Tips.OrderHistory@39aeed2f]">dclosebrowser</td> 
  <td>TestNG@845796796</td>   <td></td> </tr>
</table>
